{
    "presets": ["@babel/preset-typescript", "@babel/preset-env"],
    "plugins": [
        "./src/plugin.js",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
    ]
}
